<% bookings.each do |booking| %>
  <div class="card-product mt-2">
    <%= cl_image_tag(booking.moissonneuse.photo.key, crop: :fill) %>
    <div class="card-product-infos">
      <h2>Nom : <%= booking.moissonneuse.name %></h2>
    </div>
    <h2>Infos : </h2>
      <div class="col">
        <h6>Informations complémentaires: </h6>
        <p> . Location <%= "du #{booking.starting_date} au #{booking.ending_date}" %></p>
        <p> . Location de la <strong><%= booking.moissonneuse.name %></strong> pendant <strong><%= booking.length_in_days %></strong> jours, pour un prix total de <strong><%= booking.price %> €</strong>.</p>
      </div>
  </div>
<% end %>


