  <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
        <span>Choississez une région</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to "Alsace", moissonneuses_path(params: {region: 'alsace'}), class: "dropdown-item" %>
        <%= link_to "Aquitaine", moissonneuses_path(params: {region: 'aquitaine'}), class: "dropdown-item" %>
        <%= link_to "Champagne-Ardenne", moissonneuses_path(params: {region: 'champagne-ardenne'}), class: "dropdown-item" %>
        <%= link_to "Limousin", moissonneuses_path(params: {region: 'limousin'}), class: "dropdown-item" %>
        <%= link_to "Lorraine", moissonneuses_path(params: {region: 'lorraine'}), class: "dropdown-item" %>
        <%= link_to "Poitou-Charentes", moissonneuses_path(params: {region: 'poitou-charentes'}), class: "dropdown-item" %>
      </div>
    </div>




<div class="col-3">
  <%= f.input :start_date, input_html: { class: 'flatpickr' }, label: false, placeholder: 'Date de début' %>
</div>
<div class="col-3">
  <%= f.input :end_date, input_html: { class: 'flatpickr' }, label: false, placeholder: 'Date de fin' %>
</div>
