<div class="navbar navbar-expand-sm navbar-light border-bottom navbar-lewagon">
  <div class="collapse navbar-collapse">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fab fa-angellist">
        <span>Perfect Field</span>
      </i>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <% if policy(Moissonneuse).create? %>
            <%= link_to "Proposer une moissonneuse", new_moissonneuse_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://i.ytimg.com/vi/417Wp6xxnlQ/hqdefault.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", crop: :face, data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Bookings", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <% if policy(Moissonneuse).create? %>
            <%= link_to "Proposer une moissonneuse", new_moissonneuse_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Inscription", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
