<div class="container">
  <div class="row pt-3">
    <div class="col-4 offset-4">
      <%= simple_form_for(@moissonneuse) do |f| %>
        <%= f.input :photo, as: file  %>
        <%= f.input :name, label: "Nom", error: "Veuillez indiquer votre nom"  %>
        <%= f.input :address, label: 'Adresse', errror: "Veuillez renseigner votre code postal. ex: 69"  %>
        <%= f.input :brand, label: "Marque du véhicule", error: "Veuillez choisir dans la liste la marque de votre moissonneuse-batteuse" %>
        <%= f.input :model, label: 'Modèle', error: "Indiquez le modèle" %>
        <%= f.input :description, error: "Veuillez renseigner minimum 200 caractères" %>
          <div class="btn w-100">
            <%= f.submit "Enregistrer ma demande" %>
          </div>
      <% end %>
    </div>
  </div>
</div>


