<div class="container-fluid py-5" style="height: 800px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/17/unsplash_527bf5fd7f5f6_1.JPG?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80'); background-repeat: no-repeat; background-size: cover; background-position: bottom;">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4">
      <h2 class="text-white"><strong>Ajoutez votre engin</strong></h2>
      <%= simple_form_for(@moissonneuse) do |f| %>

        <div class="form-row mt-4">
          <div class="col-6 form-group">
            <%= f.input :name, label: false, placeholder: "Nom", error: "Veuillez indiquer votre nom" %>
          </div>
          <div class="col-6 form-group">
            <%= f.input :address, label: false, placeholder: 'Région', error: "Veuillez renseigner votre région" %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-6 form-group">
            <%= f.input :brand, label: false, prompt: "Marque", collection: Moissonneuse::BRANDS %>
          </div>
          <div class="col-6 form-group">
            <%= f.input :model, label: false, placeholder: 'Modèle', error: "Indiquez le modèle" %>
          </div>
        </div>

        <div class="form-row">
          <div class="col-6 form-group">
            <%= f.input :power, label: false, placeholder: 'Puissance (CV)', error: "Indiquez la puissance du véhicule ( CV )" %>
          </div>
          <div class="col-6 form-group">
            <%= f.input :price, label: false, placeholder: 'Prix de la location (€/par jour)', error: "Veuillez renseigner un prix" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.input :description, label: false, placeholder: 'Décrivez votre incroyable moissonneuse', error: "Veuillez renseigner minimum 50 caractères" %>
        </div>
        <%= f.input :photo, label: false, as: :file %>
        <%= f.input :user, as: :hidden, input_html: {value: current_user.id } %>
        <%= f.submit 'J\'ajoute ma grosse moissonneuse', class: 'btn btn-primary w-100' %>
        <% end %>
    </div>
  </div>
</div>


