<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perfect Field</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <% if current_page? moissonneuse_path(Moissonneuse.last) %>
      <div class="content-wrapper content-wrapper-show">
    <% else %>
      <div class="content-wrapper">
    <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/flashes' %>
  </body>
</html>
